<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false" >
  <targets>
    <target xsi:type="File" name="FileLogging" fileName="${basedir}/logs/log_${shortdate}.log"
                layout="${longdate} ${logger} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace,method:maxInnerExceptionLevel=5:innerFormat=ToString}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Error" writeTo="FileLogging" final="true" />
  </rules>
</nlog>
